# For Local Dev
DATABASE_URL="postgres://root:mysecretpassword@localhost:5433/local"

    # Airtable sync
    AIRTABLE_PAT=
    AIRTABLE_BASE_ID=

    # CORS (coolify thing, not needed for local!)
    ORIGIN=

    # Postgres DB
    POSTGRES_USER=root
    POSTGRES_PASSWORD=mysecretpassword
    POSTGRES_DB=local

    # Hack Club Auth
    HC_AUTH_CLIENT_ID=
    HC_AUTH_CLIENT_SECRET=
    # Optional
    HC_AUTH_REDIRECT_URI=

    # Random string for encrypting tokens in the DB, should be 32 characters
    TOKEN_ENCRYPTION_KEY=
